a.active,
a:focus,
button:focus,
button.active {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  text-decoration: none !important;
}

.btn:focus {
  box-shadow: none;
}

a:focus,
a:hover,
a:active {
  outline: 0;
  box-shadow: 0;
}

a:focus,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Axiforma";
}

a,
button {
  transition: all ease-in-out 0.5s;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

figure {
  margin: 0;
}

img {
  border-style: none;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.form-control:focus {
  box-shadow: none;
}

.main {
  height: calc(100vh - 264px);

  display: flex;
  align-items: center;
  justify-content: center;
}
.login_Form {
  min-width: 500px;
  width: 100%;
  margin: auto;
}
